html{
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow-x: hidden;
    font-family: "Cardo";
}

body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #eef2f5;
}

.small{
    position: fixed;
    width: 100%;
    height: 10%;
    left: 0;
    background-color: #17245c;
    color: white;
    line-height: 10vh;
    text-align: center;
    
}
.header{
    top: 0;
    font-size: 5vmin;
}

.footer{
    top: 90vh;
    font-size: 2.5vmin;
}

.container{
    position: absolute;
    width: 80vw;
    height: 60vh;
    top: 20vh;
    left: 10vw;
    border: .5vmin solid #17245c;
    text-align: center;
}

input, select{
    position: relative;
    display: block;
    top: 20%;
    width: 20%;
    height: 12%;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-family: "Open Sans";
    color: #17245c;
    font-size: 1.2em;
}

.answer{
    position: absolute;
    width: 60%;
    height: 20%;
    left: 20%;
    top: 55%;
    text-align: center;
    font-size: 4.5vmin;
    color: black;
}